:root {
	--bg-green: 19, 108, 73;
	--bg-red: 239, 11, 23;
	--bg-yellow: 228, 185, 45;
	--bg-blue: 162, 214, 224;
	--bg-pink: 243, 136, 160;
	--bg-grey: 51, 51, 51;
	--bg-green-dark: 4, 64, 40;
	--bg-blue-dark: 7, 139, 165;
	--bg-red-dark: 142, 11, 18;

	--text: #ffffffff;
	--text-disabled: #ffffffcc;
	--naff-grad: linear-gradient(
		90deg,
		#e4b92d 0%,
		rgba(232, 195, 75, 0.859375) 20%,
		#136c49 20%,
		#136c49 40%,
		#a2d6e0 40%,
		#a2d6e0 60%,
		#f388a0 60%,
		#f388a0 80%,
		#f10b17 80%,
		#f10b17 100%
	);
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	color: rgb(var(--text));
	font-family: 'Open Sans', sans-serif;
	// background-color: ;
}

.title {
	font-family: 'Roboto', sans-serif;
}

main {
	margin-top: 7rem;
	width: 100%;
}

.a {
	text-transform: uppercase;

	&.light {
		color: #fff;
		filter: drop-shadow(0 0 2px #fff);
	}

	&.dark {
		color: #2a2a2a;
		filter: drop-shadow(0 0 2px #222);
	}
}
